<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <link href="~/assets/css/bootstrap.min.css" rel="stylesheet">
    <!-- Fonts Icon CSS -->
    <link href="~/assets/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/assets/css/et-line.css" rel="stylesheet">
    <link href="~/assets/css/ionicons.min.css" rel="stylesheet">
    <!-- Carousel CSS -->
    <link href="~/assets/css/owl.carousel.min.css" rel="stylesheet">
    <link href="~/assets/css/owl.theme.default.min.css" rel="stylesheet">
    <!-- Animate CSS -->
    <link rel="stylesheet" href="~/assets/css/animate.min.css">
    <!-- Custom styles for this template -->
    <link href="~/assets/css/main.css" rel="stylesheet">

    <div class="loader">
        <div class="loader-outter"></div>
        <div class="loader-inner"></div>
    </div>


    <!--header start here -->
    <header class="header navbar fixed-top navbar-expand-md">
        <div class="container">
            <a class="navbar-brand logo" href="#">
                <img src="~/assets/img/logo.png" alt="Evento" />
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#headernav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="lnr lnr-text-align-right"></span>
            </button>
            <div class="collapse navbar-collapse flex-sm-row-reverse" id="headernav">
                <ul class=" nav navbar-nav menu">
                    <li class="nav-item">
                        <a class="nav-link active" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="#">Speakers</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="#">Events</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="#">News</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="#">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="/Login/Logout">Logout</a>
                    </li>
                    <li class="search_btn">
                        <a href="#">
                            <i class="ion-ios-search"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </header>







    <div>
        @RenderBody()
    </div>



    <div class="copyright_footer">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6 col-12">
                    <p>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        Copyright &copy;
                        <script>document.write(new Date().getFullYear());</script> All rights reserved
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </p>
                </div>
                <div class="col-12 col-md-6 ">
                    <ul class="footer_menu">
                        <li>
                            <a href="#">Home</a>
                        </li>
                        <li>
                            <a href="#">Speakers</a>
                        </li>
                        <li>
                            <a href="#">Events</a>
                        </li>
                        <li>
                            <a href="#">News</a>
                        </li>
                        <li>
                            <a href="#">Contact</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!--footer end -->



    <!-- jquery -->
    <script src="~/assets/js/jquery.min.js"></script>
    <!-- bootstrap -->
    <script src="~/assets/js/popper.js"></script>
    <script src="~/assets/js/bootstrap.min.js"></script>
    <script src="~/assets/js/waypoints.min.js"></script>
    <!--slick carousel -->
    <script src="~/assets/js/owl.carousel.min.js"></script>
    <!--parallax -->
    <script src="~/assets/js/parallax.min.js"></script>
    <!--Counter up -->
    <script src="~/assets/js/jquery.counterup.min.js"></script>
    <!--Counter down -->
    <script src="~/assets/js/jquery.countdown.min.js"></script>
    <!-- WOW JS -->
    <script src="~/assets/js/wow.min.js"></script>
    <!-- Custom js -->
    <script src="~/assets/js/main.js"></script>
</body>
</html>
