@model EventManagingSystem.Entities.Message

@{
                /**/

                ViewBag.Title = "MessageDetail";
                Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

@Html.Partial("/Views/Partial/Information.cshtml")

    <div class="jumbotron">
        <h1 class="display-4">@Model.MessageTitle</h1>
        <p class="lead">@Model.MessageBody</p>
        <hr class="my-4">
        <a class="btn btn-primary btn-lg" href="#" role="button">Reply</a>
    </div>

